<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Products</title>
</head>

<body>
    <div class="all-products-body">
        <div class="all-products-header">
            <h1>Your Skin Collection</h1>
            <a class="add-product-link" href="/users/<%=user._id%>/products/new">Add a Product</a>
        </div>
        <ul>
            <% products.forEach((product)=>{ %>
                <a href="/users/<%= user._id %>/products/<%= product._id %>">
                    <li>
                        <%= product.name %>
                            <%= product.description %>
                    </li>
                </a>
                <% }) %>
        </ul>
    </div>
</body>

</html>